.review{
    margin-left: -100px;
    height: 530px;
}
.pagination_fraction{
    font-size: 30px;
}

.swiper-button-next {
    margin-right: 30px;
    background: url(../../images/subscribeImage/icon_right_arrow.png) no-repeat;
    background-size: 100%;
    width: 50px;
    height: 50px;
    background-position: center;
    cursor: pointer; 
}

.swiper-button-next:hover{
    background: url(../../images/subscribeImage/icon_right_arrow_white.png) no-repeat;
    background-size: 100%;
    opacity: .8;
}
  
.swiper-button-prev {
    margin-left: 30px;
    background: url(../../images/subscribeImage/icon_left_arrow.png) no-repeat;
    background-size: 100%;
    width: 50px;
    height: 50px;
    background-position: center;
    cursor: pointer;  
}
  
.swiper-button-prev:hover{
    background: url(../../images/subscribeImage/icon_left_arrow_white.png) no-repeat;
    background-size: 100%;
    opacity: .8;
}

  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
}


